<a href="#" class="list-group-item">   
    <h4 class="list-group-item-heading">{{ personName }}</h4>
    <p class="list-group-item-text">{{ qualificationLol }}</p>
    <p class="list-group-item-text">{{ n }}</p>
    <p class="list-group-item-text">{{ someObj.wifeName }}</p>
</a>