<h3>Search Results</h3>

<div class="list-group">
	<search-result person-name="{{ person.name }}" qual="{{ person.qualification }}" n="1" someObj="{{someObj}}">
    </search-result> 

    <!-- <search-result></search-result> -->
</div>