<label>Search</label>
<input type="text" value="Deepen"/>

<h3>Search Results</h3>

<div class="list-group">
    <div search-result></div> <!-- A -->
    <search-result></search-result> <!-- E -->
    
    <div class="search-result"></div> <!-- C -->
</div>