<label>Search</label>
<input type="text" value="Deepen"/>

<h3>Search Results</h3>

<div class="list-group">
<!--
    <search-result person-name="{{ person.name }}" person-qualification="{{ person.qualification }}">
    </search-result>
-->
    
    <search-result person-object="person" formatted-name-function="formattedName(aperson)"></search-result>
    
</div>